<ul class="items-mobile__list">
	<li class="items-mobile__item">
	
		{{ 'production-icon-1.svg' | asset_url | img_tag: 'bulb', 'items-mobile__image' }}
			{% comment %} <img class="items-mobile__image" src="img/production-icon-1.svg" alt=""> {% endcomment %}
		<h4 class="items__title">
			Learning
		</h4>
		<p class="items-mobile__description">
			Our pediatrician-recommended products are a great way for your children to learn,
			enhance their fine motor skills and develop their imagination.
		</p>
	</li>
	<li class="items-mobile__item">
		{{ 'production-icon-3.svg' | asset_url | img_tag: 'feather with book', 'items-mobile__image' }}
		<h4 class="items-mobile__title">
			Easy to carry
		</h4>
		<p class="items-mobile__description">
			Our light-weight and flexible books will keep your children busy for your long journeys
			or dinners at the restaurant.
		</p>
	</li>
	<li class="items-mobile__item">
		{{ 'production-icon-5.svg' | asset_url | img_tag: 'earth with a plant in hand', 'items-mobile__image' }}
		<h4 class="items-mobile__title">
			Sustainability
		</h4>
		<p class="items-mobile__description">
			All of our products are plastic-free and fairly produced.
		</p>
	</li>
	<li class="items-mobile__item">
		{{ 'production-icon-2.svg' | asset_url | img_tag: 'hourglass', 'items-mobile__image' }}
		<h4 class="items-mobile__title">
			Long-lasting products
		</h4>
		<p class="items-mobile__description">
			Our high-quality products can be passed on from generation to generation.
		</p>
	</li>
	<li class="items-mobile__item">
		{{ 'production-icon-4.svg' | asset_url | img_tag: 'soft toy', 'items-mobile__image' }}
		<h4 class="items-mobile__title">
			Versatile toys
		</h4>
		<p class="items-mobile__description">
			Our products can be played in countless unimaginable ways. We offer your children a
			world of creativity in each of our books.
		</p>
	</li>
</ul>
