<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-1.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-2.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-3.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-4.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-5.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-6.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-7.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
<a class="stores__link" href="#">
	<img class="stores__image" src="{{ 'stores-image-8.png ' | asset_url }}" width="" height="" alt="" loading="lazy">
</a>
