<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% comment %} <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/> {% endcomment %}
    {{ 'slick.css' | asset_url | stylesheet_tag }}
    {% comment %} {{ 'libs.css' | asset_url | stylesheet_tag }} {% endcomment %}
	{{ 'theme-search.css' | asset_url | stylesheet_tag }}
    {{ 'style.css.map' | asset_url | stylesheet_tag }}
    {{ 'style.css' | asset_url | stylesheet_tag }}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    {%- unless settings.type_header_font.system? and settings.type_body_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    {% comment %} {{ 'base.css' | asset_url | stylesheet_tag }} {% endcomment %}

    {%- unless settings.type_body_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_body_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}
    {%- unless settings.type_header_font.system? -%}
      <link rel="preload" as="font" href="{{ settings.type_header_font | font_url }}" type="font/woff2" crossorigin>
    {%- endunless -%}

    {%- if settings.predictive_search_enabled -%}
      <link rel="stylesheet" href="{{ 'component-predictive-search.css' | asset_url }}" media="print" onload="this.media='all'">
    {%- endif -%}
  </head>

  <body>

  {% section 'announcement-bar-shopify' %}
  {% comment %} {% section 'announcement-bar' %} {% endcomment %}
  {% comment %} {% section 'announcement-slider' %} {% endcomment %}

    {% section 'header-shopify' %}

    {% comment %} <main id="MainContent" class="content-for-layout focus-none" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main> {% endcomment %}

    <main class="main-content">
{{ content_for_layout }}
  
      <!-- modal window -->
      <section class="modal" aria-hidden="true" role="dialog" aria-labelledby="modalTitle"
        aria-describedBy="modalDescription">
        <div class="modal-overlay modal-hide" tabindex="-1"></div>
        <div class="modal-container modal-hide">
          <div class="modal-wrapper modal-transition">
            <!-- <div id="modalDescription" class="modal-description vh">Beginning of dialog window. It begins with a
              heading 1 called "This is a modal".</div> -->
            <div class="modal-header">
              <button class="modal-close modal-hide">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path d="M12 12L6 6M12 12L18 18M12 12L18 6M12 12L6 18" stroke="#105393"
                    stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
            </div>
  
            <div class="modal__body">
              <div class="modal__content">
                <a class="modal__logo" href="#">
					{{ 'logo.png' | asset_url }}
                  {% comment %} <img src="/assets/" alt="jolly designs logo"> {% endcomment %}
                </a>
                <h3 class="modal__heading">
                  Get 10% on your first order!
                </h3>
                <p class="modal__description">
                  Join our email list to receive updates and exclusive offers
                </p>
                <form class="modal__form form">
                  <input class="form__email-input" type="email" name="email"
                    placeholder="Your e-mail address">
                  <div class="modal__extra-wrap">
                    <input class="form__country-input" type="text" name="country"
                      placeholder="Your country">
                  </div>
                  <button class="form__submit-button" type="submit">Subscribe</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- modal window -->
  
    </main>

    {% section 'footer' %}  
      <script src="{{ 'predictive-search.js' | asset_url }}" defer="defer"></script>
      <script src="https://file.myfontastic.com/W4hLWWnwtgdnaaZqJaYR5W/icons.js" defer></script>
      <script src="{{ 'jquery-3.6.1.js' | asset_url }}" defer></script>
      <script src="{{ 'slick.js' | asset_url }}" defer></script>
      {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script> {% endcomment %}
      {% comment %} <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js" defer></script> {% endcomment %}
      {% comment %} <script src="{{ 'theme-search.js' | asset_url }}" defer="defer"></script> {% endcomment %}
      <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
