{% style %}
.color-yellow {
background-color: #ffe4bb;
  }

.color-pink {
	background-color: #ff8f8f;
  }

.color-blue {
	background-color: #cee8ff;
}

.header__announcement-slider {
	margin-bottom: {{ section.settings.margin_bottom | round: 0 }}px;
}

{% endstyle %}

<div class="header__announcement-slider announcement-slider color-{{ section.settings.color_scheme }}">
      <div class="container">
        <div class="announcement-slider__controls">
          <button class="announcement-slider__button announcement-slider__control_prev" type="button">
            {% render 'announc-arrow' %}
          </button>
          <button class="announcement-slider__button announcement-slider__control_next" type="button">
            {% render 'announc-arrow' %}
          </button>
        </div>
        <ul class="announcement-slider__list">
         {% comment %} {% for block in section.blocks %}
            {% render 'icons-snippet', block: block %}
         {% endfor %} {% endcomment %}
         {% for block in section.blocks %}
         <li class="announcement-slider__item" {{ block.shopify_attributes }}>
            {% comment %} <img width="" height="" src="{{ block.settings.icon | image_url: width: 32, height: 32 }}" alt="{{ block.settings.icon.alt }}" loading="lazy"> {% endcomment %}
            {% case block.settings.select_icon %}
               {% when 'car' %}
                   {% render 'icon-car' %}
               {% when 'hand' %}
                   {% render 'icon-hand' %}
               {% when 'guarantee' %}
                   {% render 'icon-guarantee' %}
               {% when 'heart' %}
                   {% render 'icon-heart' %}
               {% when 'flag' %}
                   {% render 'icon-flag' %}
               {% when 'replacement' %}
                   {% render 'icon-replacement' %}
               {% endcase %}
                <a class="announcement-slider__link announcement-slider__link-1" href="#">
                    {{ block.settings.link_text | truncatewords: "7" }}
              </a>
         </li>
      {% endfor %}
        </ul>
      </div>
    </div>

{% schema %}
{
   "name":"Announcement slider",
   "class": "header__announcement-slider",
   "tag": "div",
   "max_blocks":6,
   "settings": [
		{
			"type": "select",
			"id": "color_scheme",
			"options": [
				{
				"value": "yellow",
				"label": "t:sections.all.colors.accent_1.label"
				},
				{
				"value": "pink",
				"label": "t:sections.all.colors.accent_2.label"
				},
				{
				"value": "blue",
				"label": "t:sections.all.colors.background_1.label"
				}
			],
			"default": "yellow",
			"label": "t:sections.all.colors.label"
		},
		{
			"type": "range",
			"id": "margin_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.header.settings.margin_bottom.label",
			"default": 24
		  }
   ],
   "blocks":[
      {
         "type":"list_item",
         "name":"List item",
         "settings":[
            {
               "type": "header",
               "content": "Icon settings"
            },
            {
               "type":"select",
               "id":"select_icon",
               "label":"Select icon",
               "options":[
                  {
                     "value":"car",
                     "label":"Car"
                  },
                  {
                     "value":"hand",
                     "label":"Hand"
                  },
                  {
                     "value":"guarantee",
                     "label":"Guarantee"
                  },
                  {
                     "value":"heart",
                     "label":"Heart"
                  },
                  {
                     "value":"flag",
                     "label":"Flag"
                  },
                  {
                     "value":"replacement",
                     "label":"Replacement"
                  }
               ],
               "default": "car"
            },
            {
               "type":"header",
               "content": "Text settings"
            },
            {
               "type":"text",
               "id":"link_text",
               "label":"Text for icon",
               "default": "Free shipping from 60€ (DE)"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"Announcement slider"
      }
   ]
}
{% endschema %}
