{% comment %} <section class="categories"> {% endcomment %}
{% style %}
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.categories_padding_top }}px;
      padding-bottom: {{ section.settings.categories_padding_bottom }}px;
    }

	{% comment %}  .color-{{ section.settings.categories_color_scheme }} {
		background-color: #cee8ff;
		color: #105393;
	} {% endcomment %}

	.categories {
	background-color: {{ section.settings.categories_bg_color }};
	}

	.categories__title,
	.categories-items__link {
		color: {{ section.settings.categories_text_color }};
	}
{% endstyle %}

	<h3 class="categories__title title">
		{{ section.settings.title | escape }}
	</h3>

	<!-- <div class="container"> -->
	<ul class="categories__list categories-items">

	{% for block in section.blocks %}
	  <li class="categories-items__item" {{ block.shopify_attributes }}>

		<img width="" height="" class="categories-items__image" src="{{ block.settings.items_img | image_url: width: 296, height: 296 }}"
			alt="{{ block.settings.items_img.alt }}" loading="lazy">

		<a class="categories-items__link" href="{{ block.settings.items_url }}">
			{{ block.settings.items_title }}
		</a>

	  </li>
	{% endfor %}

	</ul>
	<!-- </div> -->

  {% comment %} </section> {% endcomment %}

  {% schema %}
  {
	"name":"Categories",
	"tag":"section",
	"class":"categories",
	"max_blocks":6,
	"settings":[
	   {
		  "type":"text",
		  "id":"title",
		  "default":"Our Categories",
		  "label":"Categories section title"
	   },
	   {
		"type": "header",
		"content": "t:sections.all.padding.categories_padding_heading"
	  },
	  {
		"type": "range",
		"id": "categories_padding_top",
		"min": 0,
		"max": 200,
		"step": 4,
		"unit": "px",
		"label": "t:sections.all.padding.categories_padding_top",
		"default": 120
	  },
	  {
		"type": "range",
		"id": "categories_padding_bottom",
		"min": 0,
		"max": 200,
		"step": 4,
		"unit": "px",
		"label": "t:sections.all.padding.categories_padding_bottom",
		"default": 120
	  },
	  {
		"type":"header",
		"content":"t:sections.categories.settings.categories_colors.content",
		"info":"t:sections.categories.settings.categories_colors.info"
	 },
	 {
		"type":"color",
		"id":"categories_bg_color",
		"label":"t:sections.categories.settings.categories_bg_color.label",
		"default":"#cee8ff",
		"info": "t:sections.categories.settings.categories_bg_color.info"
	 },
	 {
		"type":"color",
		"id":"categories_text_color",
		"label":"t:sections.categories.settings.categories_text_color.label",
		"default":"#105393",
		"info": "t:sections.categories.settings.categories_text_color.info"
	 }
	],
	"blocks":[
	   {
		  "name":"Categories item",
		  "type":"categories_item",
		  "settings":[
			 {
				"type":"header",
				"content":"Image settings"
			 },
			 {
				"type":"image_picker",
				"id":"items_img",
				"label":"Categories item image"
			 },
			 {
				"type":"header",
				"content":"Text settings"
			 },
			 {
				"type":"text",
				"id":"items_title",
				"label":"Categories item title",
				"default":"Quiet Books"
			 },
			 {
				"type":"url",
				"id":"items_url",
				"label":"Add url for item"
			 }
		  ]
	   }
	],
	"presets":[
	   {
		  "name":"Categories section"
	   }
	]
 }
  {% endschema %}
