{% comment %} {{ 'style.css' | asset_url | stylesheet_tag }} {% endcomment %}

<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<div class="footer__top">
				<div class="footer__top-company top-company">
				
					<h4 class="footer__title top-company__title">
						<span>{{- section.settings.top-company_title -}}</span> Ltd.
					</h4> 

					<p class="top-company__description">
						{{- section.settings.top-company_description -}}
					</p>
				</div>
				<div class="footer__top-info top-info">
					<h4 class="footer__title top-info__title">
						{{- section.settings.top-info_title -}}
					</h4>
					<ul class="top-info__list">
				
					{% for link in linklists.top-info-menu.links %}
						<li class="top-info__item">
							<a class="top-info__link" href="{{ link.url }}">
								{{ link.title }}
							</a>
						</li>
					{% endfor %}

					</ul>
				</div>
				<div class="footer__top-about top-about">
					<h4 class="footer__title top-about__title">
						{{- section.settings.top-about_title -}}
					</h4>
					<ul class="top-about__list">
						{% for link in linklists.top-about-menu.links %}
						<li class="top-about__item">
							<a class="top-about__link" href="{{ link.url }}">
								{{ link.title }}
							</a>
						</li>
						{% endfor %}

					</ul>
				</div>
				<div class="footer__top-letter top-letter">
					<h4 class="footer__title top-letter__title">
						{{- section.settings.top-letter_title -}}
					</h4>

					{%- form 'customer', class: 'top-letter__form' -%}
						{%- if form.posted_successfully? -%}
							<script>alert("Your message has been sent!");</script>
							{%- elsif form.errors -%}
							<script>alert("Error, your message was not sent!");</script>
						{%- endif -%}
						<input class="top-letter__email" type="email" placeholder="E-mail"
							name="contact[email]">
						<input class="top-letter__submit" type="submit" value="Subscribe">
					{%- endform -%}

					<div class="top-letter__links-wrapper">
						{{ 'Create account' | customer_register_link | replace: '<a', '<a class="top-letter__link"' }}

						{{ 'B2B Log-in' | customer_login_link | replace: '<a', '<a class="top-letter__link"' }}
					</div>
				</div>
			</div>
			<div class="footer__bottom">
				<div class="footer__payment-icons">
					<span class="visually-hidden">Payment methods</span>
					<ul class="payment-icons__list">
						{% render 'payment-icons' %}
					</ul>
				</div>
				<div class="footer__copyright copyright">
					<small class="copyright__content">
						&copy; {{ 'now' | date: "%Y" }}
					<a href="/" title="copyright">
						{{ section.settings.copyright_text }}
					</a>
				</small>
				</div>
				<div class="footer__socials socials">
					<ul class="socials__icons-list">
						{% render 'social-icons' %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>

{% schema %}
{
	"name":"Footer",
	"settings": [
		{
			"type":"header",
			"content":"Footer first title"
		 },
		 {
			"type":"text",
			"id":"top-company_title",
			"label":"Add first footer title",
			"default":"Jolly Designs"
		 },
		 {
			"type": "text",
			"id": "top-company_description",
			"label": "Add description text for first footer title",
			"default":"Description text for first footer title"
		},
		{
			"type":"header",
			"content":"Information menu settings"
		 },
		 {
			"type": "text",
			"id": "top-info_title",
			"label": "Add second footer title",
			"default": "Information"
		},
		{
			"type":"link_list",
			"id":"top-info-menu",
			"label":"Information menu"
		 },
		{
			"type":"header",
			"content":"About Us menu settings"
		 },
		 {
			"type": "text",
			"id": "top-about_title",
			"label": "Add third footer title",
			"default": "About Us"
		},
		{
			"type":"link_list",
			"id":"top-about-menu",
			"label":"About Us menu"
		 },
		 {
			"type":"header",
			"content":"Newsletter form settings"
		 },
		 {
			"type": "text",
			"id": "top-letter_title",
			"label": "Add fourth footer title",
			"default": "Newsletter"
		},
		{
			"type": "header",
			"content": "Copyright settings"
		},
		{
			"type": "text",
			"id": "copyright_text",
			"label": "Add your copyright text",
			"default": "Jolly Designs"
		}
	]
 }
{% endschema %}
