{% comment %} {{ 'style.css' | asset_url | stylesheet_tag }} {% endcomment %}
{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.footer_padding_top }}px;
      padding-bottom: {{ section.settings.footer_padding_bottom }}px;
    }

	.background-default,
	.footer::after {
		background-color: #ff8f8f;
		border-top: 2px solid #f6adad;
	}

	.background-light-blue,
	.footer::after {
		background-color: #cee8ff;
		border-top: 2px solid #e8f4ff;
	}

	.background-dark-blue,
	.footer::after  {
		background-color: #105393;
		border-top: 2px solid #1363ad;
	}

@media screen and (max-width: 800px) {
	.footer {
		padding: 40px 30px 33px 30px !important;
		}
	}

@media screen and (max-width: 375px) {
	.footer {
		padding: 40px 15px 43px 15px !important;
		}
	}
{%- endstyle -%}

<footer class="footer background-{{ section.settings.footer_color_scheme }} section-{{ section.id }}-padding">
	<div class="container">
		
		<div class="footer__inner">
			
			<div class="footer__top">
				{%- for block in section.blocks -%}

				{%- case block.type -%}

				{%- when 'top-company' -%}
				{% comment %} First block {% endcomment %}
				<div class="footer__top-company top-company" {{ block.shopify_attributes }}>

					<h4 class="footer__title top-company__title">
						<span>{{- block.settings.top-company_title -}}</span>
					</h4> 
					
					<p class="top-company__description">
						{{- block.settings.top-company_description -}}
					</p>

				</div>

				{%- when 'top-info' -%}
				{% comment %} Second block {% endcomment %}
				<div class="footer__top-info top-info" {{ block.shopify_attributes }}>

					<h4 class="footer__title top-info__title">
						{{- block.settings.top-info_title -}}
					</h4>
					
					<ul class="top-info__list">
						{% for link in block.settings.top-info_menu.links %}
						<li class="top-info__item">
							<a class="top-info__link" href="{{ link.url }}">
								{{ link.title }}
							</a>
						</li>
						{% endfor %}

					</ul>
				</div>

				{%- when 'top-about' -%}
				{% comment %} Third block {% endcomment %}
				<div class="footer__top-about top-about" {{ block.shopify_attributes }}>

					<h4 class="footer__title top-about__title">
						{{- block.settings.top-about_title -}}
					</h4>

					<ul class="top-about__list">
						{% for link in block.settings.top-about_menu.links %}
						<li class="top-about__item">
							<a class="top-about__link" href="{{ link.url }}">
								{{ link.title }}
							</a>
						</li>
						{% endfor %}

					</ul>
				</div>

				{%- when 'top-letter' -%}
				{% comment %} Fourth block {% endcomment %}
				<div class="footer__top-letter top-letter" {{ block.shopify_attributes }}>

					<h4 class="footer__title top-letter__title">
						{{- block.settings.top-letter_title -}}
					</h4>

					{%- form 'customer', id: 'ContactFooter', class: 'top-letter__form' -%}
						{%- if form.posted_successfully? -%}
							<h3 class="newsletter-form__message newsletter-form__message--success form__message" id="ContactFooter-success" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3>
							{%- elsif form.errors -%}
							<small class="newsletter-form__message form__message" id="ContactFooter-error">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
						{%- endif -%}
						<input class="top-letter__email"
							type="email"
							name="contact[email]"
							value="{{ form.email }}"
							aria-required="true"
							autocorrect="off"
							autocapitalize="off"
							autocomplete="email"
							{% if form.errors %}
								autofocus
								aria-invalid="true"
								aria-describedby="ContactFooter-error"
							  {% elsif form.posted_successfully? %}
								aria-describedby="ContactFooter-success"
							  {% endif %}
							  placeholder="{{ 'newsletter.label' | t }}"
							  required>
						<input class="top-letter__submit"
							type="submit"
							value="Subscribe"
							name="commit"
							aria-label="{{ 'newsletter.button_label' | t }}">
					{%- endform -%}
				
					<div class="top-letter__links-wrapper">
						{{ 'Create account' | customer_register_link | replace: '<a', '<a class="top-letter__link"' }}
						{{ 'B2B Log-in' | customer_login_link | replace: '<a', '<a class="top-letter__link"' }}
					</div>
				</div>
				{%- endcase -%}
			{% endfor %}
			</div>
		

			<div class="footer__bottom">
				{%- for block in section.blocks -%}
					{%- case block.type -%}

				{%- when 'payment-icons' -%}
				{% comment %} Fifth block {% endcomment %}
				<div class="footer__payment-icons" {{ block.shopify_attributes }}>
					{% comment %} <span class="visually-hidden">Payment methods</span> {% endcomment %}
					{% comment %} <ul class="payment-icons__list"> {% endcomment %}
						{% comment %} {% render 'payment-icons' %} {% endcomment %}
						{% comment %} {% for block in section.blocks %}
						<li class="payment-icons__item">
							{% case block.settings.payment_icons %}
								{% when 'american_express' %}
									{% render 'icon-american_express' %}
								{% when 'apple_pay' %}
									{% render 'icon-apple_pay' %}
								{% when 'google_pay' %}
									{% render 'icon-google_pay' %}
								{% when 'klarna_bank' %}
									{% render 'icon-klarna_bank' %}
								{% when 'maestro' %}
									{% render 'icon-maestro' %}
								{% when 'mastercard' %}
									{% render 'icon-mastercard' %}
								{% when 'paypal' %}
									{% render 'icon-paypal' %}
								{% when 'shopify_pay' %}
									{% render 'icon-shopify_pay' %}
								{% when 'visa' %}
									{% render 'icon-visa' %}
								{% endcase %}
						</li>
					{% endfor %} {% endcomment %}
					{% comment %} </ul> {% endcomment %}
					{%- if section.settings.show_payment -%}
						<ul class="payment-icons__list list-unstyled list-social" role="list">
						  {%- if settings.payment_american_express_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_american_express_link }}" class="socials__icons-link link">
								{%- render 'icon-american_express' -%}
								<span class="visually-hidden">{{ 'general.payment.links.american_express' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_apple_pay_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_apple_pay_link }}" class="socials__icons-link link">
								{%- render 'icon-apple_pay' -%}
								<span class="visually-hidden">{{ 'general.payment.links.apple_pay' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_google_pay_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_google_pay_link }}" class="socials__icons-link link">
								{%- render 'icon-google_pay' -%}
								<span class="visually-hidden">{{ 'general.payment.links.google_pay' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_klarna_bank_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_klarna_bank_link }}" class="socials__icons-link link">
								{%- render 'icon-klarna_bank' -%}
								<span class="visually-hidden">{{ 'general.payment.links.klarna_bank' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_maestro_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_maestro_link }}" class="socials__icons-link link">
								{%- render 'icon-maestro' -%}
								<span class="visually-hidden">{{ 'general.payment.links.maestro' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_master_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_master_link }}" class="socials__icons-link link">
								{%- render 'icon-mastercard' -%}
								<span class="visually-hidden">{{ 'general.payment.links.master' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_paypal_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_paypal_link }}" class="socials__icons-link link">
								{%- render 'icon-paypal' -%}
								<span class="visually-hidden">{{ 'general.payment.links.paypal' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_shopify_pay_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_shopify_pay_link }}" class="socials__icons-link link">
								{%- render 'icon-shopify_pay' -%}
								<span class="visually-hidden">{{ 'general.payment.links.shopify_pay' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.payment_visa_link != blank -%}
							<li class="payment-icons__item">
							  <a href="{{ settings.payment_visa_link }}" class="socials__icons-link link">
								{%- render 'icon-visa' -%}
								<span class="visually-hidden">{{ 'general.payment.links.visa' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						</ul>
					  {%- endif -%}
				</div>

				{%- when 'copyright' -%}
				{% comment %} Sixth block {% endcomment %}
				<div class="footer__copyright copyright" {{ block.shopify_attributes }}>
					<small class="copyright__content">
						&copy; {{ 'now' | date: "%Y" }}
					<a href="/" title="copyright">
						{{ block.settings.copyright_text }}
					</a>
				</small>
				</div>

				{%- when 'social-icons' -%}
				{% comment %} Seventh block {% endcomment %}
				<div class="footer__socials socials" {{ block.shopify_attributes }}>
					{% comment %} <ul class="socials__icons-list">
						{% render 'social-icons' %} {% endcomment %}
						{% comment %} {% for block in section.blocks %}
							<li class="socials__icons-item">
								{% case block.settings.social_icons %}
									{% when 'facebook' %}
										{% render 'icon-facebook' %}
									{% when 'twitter' %}
										{% render 'icon-twitter' %}
									{% when 'pinterest' %}
										{% render 'icon-pinterest' %}
									{% when 'instagram' %}
										{% render 'icon-instagram' %}
									{% when 'etsy' %}
										{% render 'icon-etsy' %}
									{% when 'youtube' %}
										{% render 'icon-youTube' %}
									{% endcase %}
							</li>
						{% endfor %} {% endcomment %}
					{% comment %} </ul> {% endcomment %}
					{%- if section.settings.show_social -%}
						<ul class="socials__icons-list list-unstyled list-social" role="list">
						  {%- if settings.social_facebook_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_facebook_link }}" class=" socials__icons-link link ">
								{%- render 'icon-facebook' -%}
								<span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_twitter_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_twitter_link }}" class="socials__icons-link link ">
								{%- render 'icon-twitter' -%}
								<span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_pinterest_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_pinterest_link }}" class=" socials__icons-link link">
								{%- render 'icon-pinterest' -%}
								<span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_instagram_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_instagram_link }}" class=" socials__icons-link link">
								{%- render 'icon-instagram' -%}
								<span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_etsy_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_etsy_link }}" class="socials__icons-link">
								{%- render 'icon-bag' -%}
								<span class="visually-hidden">{{ 'general.social.links.etsy' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_youtube_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_youtube_link }}" class="socials__icons-link">
								{%- render 'icon-youtube' -%}
								<span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_tiktok_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_tiktok_link }}" class="socials__icons-link link">
								{%- render 'icon-tiktok' -%}
								<span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_tumblr_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_tumblr_link }}" class="socials__icons-link link">
								{%- render 'icon-tumblr' -%}
								<span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_snapchat_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_snapchat_link }}" class="socials__icons-link link">
								{%- render 'icon-snapchat' -%}
								<span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						  {%- if settings.social_vimeo_link != blank -%}
							<li class="socials__icons-item">
							  <a href="{{ settings.social_vimeo_link }}" class="socials__icons-link">
								{%- render 'icon-vimeo' -%}
								<span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
							  </a>
							</li>
						  {%- endif -%}
						</ul>
					  {%- endif -%}
				</div>

			</div>
			{%- endcase -%}
			{% endfor %}
		</div>
	</div>
	
</footer>

{% schema %}
{
	"name":"Footer",
	"settings": [
		{
			"type": "checkbox",
			"id": "show_social",
			"default": true,
			"label": "t:sections.footer.settings.show_social.label"
		  },
		  {
			"type": "checkbox",
			"id": "show_payment",
			"default": true,
			"label": "t:sections.footer.settings.show_payment.label"
		},
		{
			"type": "header",
			"content": "t:sections.all.padding.footer_padding_heading"
		  },
		  {
			"type": "range",
			"id": "footer_padding_top",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.footer_padding_top",
			"default": 80
		  },
		  {
			"type": "range",
			"id": "footer_padding_bottom",
			"min": 0,
			"max": 100,
			"step": 4,
			"unit": "px",
			"label": "t:sections.all.padding.footer_padding_bottom",
			"default": 40
		  },
		  {
			"type": "select",
			"id": "footer_color_scheme",
			"options": [
			  {
				"value": "default",
				"label": "t:sections.all.colors.default.label"
			  },
			  {
				"value": "light-blue",
				"label": "t:sections.all.colors.light_blue.label"
			  },
			  {
				"value": "dark-blue",
				"label": "t:sections.all.colors.dark_blue.label"
			  }
			],
			"default": "default",
			"label": "t:sections.all.colors.label"
		  }
	],
	"blocks":[
	   {
		  "type":"top-company",
		  "name":"Footer first menu",
		  "settings":[
			 {
				"type":"text",
				"id":"top-company_title",
				"label":"Add first footer title",
				"default":"Jolly Designs"
			 },
			 {
				"type":"text",
				"id":"top-company_description",
				"label":"Add description text for first footer title",
				"default":"Description text for first footer title"
			 }
		  ]
	   },
	   {
		  "type":"top-info",
		  "name":"Footer second menu",
		  "settings":[
			 {
				"type":"text",
				"id":"top-info_title",
				"label":"Add second footer title",
				"default":"Information"
			 },
			 {
				"type":"link_list",
				"id":"top-info_menu",
				"label":"Information menu"
			 }
		  ]
	   },
	   {
		  "type":"top-about",
		  "name":"Footer third menu",
		  "settings":[
			 {
				"type":"text",
				"id":"top-about_title",
				"label":"Add third footer title",
				"default":"About Us"
			 },
			 {
				"type":"link_list",
				"id":"top-about_menu",
				"label":"About Us menu"
			 }
		  ]
	   },
	   {
		  "type":"top-letter",
		  "name":"Footer fourth menu",
		  "settings":[
			 {
				"type":"text",
				"id":"top-letter_title",
				"label":"Add fourth footer title",
				"default":"Newsletter"
			 }
		  ]
	   },
	   {
		  "type":"payment-icons",
		  "name":"Footer fifth menu",
		  "settings":[
			 {
				"type":"select",
				"id":"payment_icons",
				"label":"Select icon",
				"options":[
				   {
					  "value":"american_express",
					  "label":"American Express"
				   },
				   {
					  "value":"apple_pay",
					  "label":"Apple Pay"
				   },
				   {
					  "value":"google_pay",
					  "label":"Google Pay"
				   },
				   {
					  "value":"klarna_bank",
					  "label":"Klarna Bank"
				   },
				   {
					  "value":"maestro",
					  "label":"Maestro"
				   },
				   {
					  "value":"mastercard",
					  "label":"Mastercard"
				   },
				   {
					  "value":"paypal",
					  "label":"PayPal"
				   },
				   {
					  "value":"shopify_pay",
					  "label":"Shop Pay"
				   },
				   {
					  "value":"visa",
					  "label":"Visa"
				   }
				],
				"default":"american_express"
			 }
		  ]
	   },
	   {
		  "type":"copyright",
		  "name":"Copyright settings",
		  "settings":[
			 {
				"type":"text",
				"id":"copyright_text",
				"label":"Add your copyright text",
				"default":"Jolly Designs"
			 }
		  ]
	   },
	   {
		  "type":"social-icons",
		  "name":"Social icons",
		  "settings":[
			 {
				"type":"select",
				"id":"social_icons",
				"label":"Select icon",
				"options":[
				   {
					  "value":"facebook",
					  "label":"Facebook"
				   },
				   {
					  "value":"twitter",
					  "label":"Twitter"
				   },
				   {
					  "value":"pinterest",
					  "label":"Pinterest"
				   },
				   {
					  "value":"instagram",
					  "label":"Instagram"
				   },
				   {
					  "value":"etsy",
					  "label":"Etsy"
				   },
				   {
					  "value":"youtube",
					  "label":"YouTube"
				   }
				],
				"default":"facebook"
			 }
		  ]
	   }
	]
 }
{% endschema %}
