{% comment %} <div class="main-slider"> {% endcomment %}
	<!-- <div class="container"> -->
	<div class="main-slider__holder">
		<div class="main-slider__actions">
			<h2 class="main-slider__title title">
				{{ section.settings.slider_title }}
			</h2>
			<a href="{{ section.settings.buy_button_link }}" class="main-slider__buy-button button">
				{{ section.settings.buy_button_text }}
			</a>
			<a href="{{ section.settings.about_button_link }}" class="main-slider__about-button button">
				{{ section.settings.about_button_text }}
			</a>
		</div>
		<div class="main-slider__controls">
			<button type="button" class="main-slider__control main-slider__control_prev">
				{% render 'main-slider_prev_arrow' %}
				<span class="main-slider__fallback-text">
				{{ 'sections.main-slider.control_prev' | t }}
			</span>
			</button>
			<button type="button" class="main-slider__control main-slider__control_next">
				{% render 'main-slider_next_arrow' %}
				<span class="main-slider__fallback-text">
			{{ 'sections.main-slider.control_next' | t }}
		</span>
			</button>
		</div>
		<ul class="main-slider__list">
			{% for block in section.blocks %}
			<li class="main-slider__item" {{ block.shopify_attributes }}>
				<picture class="main-slider__picture">
					<source srcset="{{ 'image-749.jpg' | asset_url }}" media="(max-width: 630px)">
					<source srcset="{{ 'image-1199.jpg' | asset_url }}" media="(max-width: 1199px)">
					<img width="1440" height="612" src="{{ block.settings.slide_img | image_url: width: 1440, height: 612 }}" alt="{{ block.settings.slide_img.alt | escape }}" loading="lazy">
				</picture>
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- </div> -->
{% comment %} </div> {% endcomment %}


{% schema %}
{
	"name":"Main slider",
	"tag":"div",
	"class":"main-slider",
	"max_blocks":5,
	"settings":[
		{
			"type":"text",
			"label":"Title text",
			"id":"slider_title",
			"default":"Discover the new way of playing"
		 },
		 {
			"type":"text",
			"label":"Slider button left",
			"id":"buy_button_text",
			"default":"Shop now",
			"info":"Enter button text here"
		 },
		 {
			"type": "url",
			"id": "buy_button_link",
			"label": "Link for left button in slider",
			"info": "Enter button link"
		  },
		 {
			"type":"text",
			"label":"Slider button right",
			"id":"about_button_text",
			"default":"About us",
			"info":"Enter button text here"
		 },
		 {
			"type": "url",
			"id": "about_button_link",
			"label": "Link for right button in slider",
			"info": "Enter button link"
		  }
	],
	"blocks":[
	   {
		  "type":"slide",
		  "name":"Slide",
		  "settings":[
			 {
				"type":"image_picker",
				"id":"slide_img",
				"label":"Add img for slide"
			 }
		  ]
	   }
	],
	"presets":[
		{
		   "name":"Main slider"
		}
	 ]
 }
{% endschema %}
