{% comment %} <div class="main-slider"> {% endcomment %}
	<!-- <div class="container"> -->
	<div class="main-slider__holder">
		<div class="main-slider__actions">
			<h2 class="main-slider__title title">
				{{ section.settings.slider_title }}
			</h2>
			<a href="{{ section.settings.buy_button_link }}" class="main-slider__buy-button button">
				{{ section.settings.buy_button_text }}
			</a>
			<a href="{{ section.settings.about_button_link }}" class="main-slider__about-button button">
				{{ section.settings.about_button_text }}
			</a>
		</div>
		<div class="main-slider__controls">
			<button type="button" class="main-slider__control main-slider__control_prev">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
						d="M25.8107 9.43934C26.3964 10.0251 26.3964 10.9749 25.8107 11.5607L17.3713 20L25.8107 28.4393C26.3964 29.0251 26.3964 29.9749 25.8107 30.5607C25.2249 31.1464 24.2751 31.1464 23.6893 30.5607L14.1893 21.0607C13.6036 20.4749 13.6036 19.5251 14.1893 18.9393L23.6893 9.43934C24.2751 8.85355 25.2249 8.85355 25.8107 9.43934Z"
						fill="white" />
				</svg>
				<span class="main-slider__fallback-text">Arrow left</span>
			</button>
			<button type="button" class="main-slider__control main-slider__control_next">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd"
						d="M14.1893 9.43934C14.7751 8.85355 15.7249 8.85355 16.3107 9.43934L25.8107 18.9393C26.3964 19.5251 26.3964 20.4749 25.8107 21.0607L16.3107 30.5607C15.7249 31.1464 14.7751 31.1464 14.1893 30.5607C13.6036 29.9749 13.6036 29.0251 14.1893 28.4393L22.6287 20L14.1893 11.5607C13.6036 10.9749 13.6036 10.0251 14.1893 9.43934Z"
						fill="white" />
				</svg>
				<span class="main-slider__fallback-text">Arrow right</span>
			</button>
		</div>
		<ul class="main-slider__list">
			{% for block in section.blocks %}
			<li class="main-slider__item" {{ block.shopify_attributes }}>
				<picture class="main-slider__picture">
					<source srcset="/assets/image-749.jpg" media="(max-width: 630px)">
					<source srcset="/assets/image-1199.jpg" media="(max-width: 1199px)">
					<img width="1440" height="612" src="{{ block.settings.slide_img | image_url: width: 1440, height: 612 }}" alt="{{ block.settings.slide_img.alt | escape }}" loading="lazy">
				</picture>
			</li>
			{% endfor %}
		</ul>
	</div>
	<!-- </div> -->
{% comment %} </div> {% endcomment %}


{% schema %}
{
	"name":"Main slider",
	"tag":"div",
	"class":"main-slider",
	"max_blocks":5,
	"settings":[
		{
			"type":"text",
			"label":"Title text",
			"id":"slider_title",
			"default":"Discover the new way of playing"
		 },
		 {
			"type":"text",
			"label":"Slider button left",
			"id":"buy_button_text",
			"default":"Shop now",
			"info":"Enter button text here"
		 },
		 {
			"type": "url",
			"id": "buy_button_link",
			"label": "Link for left button in slider",
			"info": "Enter button link"
		  },
		 {
			"type":"text",
			"label":"Slider button right",
			"id":"about_button_text",
			"default":"About us",
			"info":"Enter button text here"
		 },
		 {
			"type": "url",
			"id": "about_button_link",
			"label": "Link for right button in slider",
			"info": "Enter button link"
		  }
	],
	"blocks":[
	   {
		  "type":"slide",
		  "name":"Slide",
		  "settings":[
			 {
				"type":"image_picker",
				"id":"slide_img",
				"label":"Add img for slide"
			 }
		  ]
	   }
	],
	"presets":[
		{
		   "name":"Main slider"
		}
	 ]
 }
{% endschema %}
