{% comment %} <section class="production"> {% endcomment %}

    <div class="container">
      <div class="production__description">

        {%- if section.settings.title != blank -%}
        <h2 class="production__title title">
          {{ section.settings.title | escape }}
        </h2>
        {%- endif -%}

		{%- if section.settings.definition != blank -%}
        <p class="production__definition">
			{{ section.settings.definition }}
        </p>
		{%- endif -%}

      </div>

      <div class="production__items items">
        <ul class="items__list">

		{% for block in section.blocks %}
          <li class="items__item" {{ block.shopify_attributes }}>

              <img width="" height="" class="items__image" src="{{ block.settings.icon | image_url: width: 96, height: 96 }}" alt="{{ block.settings.icon.alt }}" loading="lazy">

            <h4 class="items__title">
				{{ block.settings.items_title }}
            </h4>

			{%- if block.settings.items_description != blank -%}
            <p class="items__description">
				{{ block.settings.items_description }}
            </p>
			{%- endif -%}

          </li>
		{% endfor %}

        </ul>
		
		{% comment %} Displayed at resolution less than 749px {% endcomment %}
		{% comment %} {% render 'prod-mob-slider' %} {% endcomment %}

      </div>
    </div>
	
  {% comment %} </section> {% endcomment %}

  {% schema %}
  {
	"name":"Production",
	"tag":"section",
	"class":"production",
	"max_blocks":5,
	"settings":[
	   {
		  "type":"text",
		  "id":"title",
		  "default":"Our Quiet Books",
		  "label":"Production title"
	   },
	   {
		  "type":"text",
		  "id":"definition",
		  "default":"are developed by child experts to improve your children's fine motor development",
		  "label":"Production definition"
	   }
	],
	"blocks":[
	   {
		  "name":"Production item",
		  "type":"production_item",
		  "settings":[
			 {
				"type":"header",
				"content":"Item settings"
			 },
			 {
				"type":"image_picker",
				"id":"icon",
				"label":"Icon"
			 },
			 {
				"type":"header",
				"content":"Text settings"
			 },
			 {
				"type":"text",
				"id":"items_title",
				"label":"Items title",
				"default":"Sustainability"
			 },
			 {
				"type":"text",
				"id":"items_description",
				"label":"Items description",
				"default":"All of our products are plastic-free and fairly produced."
			 }
		  ]
	   }
	],
	"presets":[
	   {
		  "name":"Production section"
	   }
	]
 }
  {% endschema %}
